@background: #191B2A;

@black: #282A2D;
@cyan: #66D9EF;
@blue: #3887FF;
@purple: #AE81FF;
@green: #77DCB8;
@red: #F92672;
@orange: #FD971F;
@light-orange: #f0c674;
@white: #F0F0F0;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;


@text-color:           darken(@white, 40%);
@text-color-subtle:    darken(@white, 60%);
@text-color-highlight: darken(@white, 30%);
@text-color-selected:  darken(@white, 35%);

@text-color-info:    @blue;
@text-color-success: @green;
@text-color-warning: @orange;
@text-color-error:   @red;

@background-color-info:    lighten(@blue, 15%);
@background-color-success: lighten(@green, 15%);
@background-color-warning: lighten(@orange, 15%);
@background-color-error:   lighten(@red, 15%);

@background-color-highlight: lighten(@base-background-color, 5%);
@background-color-selected:  lighten(@base-background-color, 10%);
@app-background-color:       darken(@base-background-color, 5%);

@base-background-color: @background;
@base-border-color:     @background;

@pane-item-background-color: @base-background-color;
@pane-item-border-color:     @base-border-color;

@input-background-color: @app-background-color;
@input-border-color:     @base-border-color;

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color:     @base-border-color;

@inset-panel-background-color: lighten(@base-background-color, 4%);
@inset-panel-border-color:     @base-border-color;

@panel-heading-background-color: lighten(@base-background-color, 4%);
@panel-heading-border-color:     @base-border-color;

@overlay-background-color: lighten(@base-background-color, 5%);
@overlay-border-color:     @base-border-color;

@button-background-color:          lighten(@base-background-color, 10%);
@button-background-color-hover:    lighten(@button-background-color, 12%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color:              @base-border-color;

@tab-bar-background-color:    @base-background-color;
@tab-bar-border-color:        @base-border-color;
@tab-background-color:        @tab-bar-background-color;
@tab-background-color-active: lighten(@tab-bar-background-color, 1%);
@tab-border-color:            lighten(@base-border-color, 40%);

@tree-view-background-color: @base-background-color;
@tree-view-border-color:     @base-border-color;

@ui-site-color-1: @blue;
@ui-site-color-2: @green;
@ui-site-color-3: @orange;
@ui-site-color-4: lighten(@red, 50%);
@ui-site-color-5: lighten(@orange, 50%);

// Sizes
@font-size: 12px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;

@tab-height: 35px;

// Misc
@component-border-radius: 2px;
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
